body {
	text-align: center;
}

.choice-image {
	height: 75px;
}

.choice-button {
	height: 100px;
	width: 100px;
	border: none;
	margin: 10px;
	background-color: rgb(148, 216, 148);
	border-radius: 50px;
	cursor: pointer;
}